In [1]:
import numpy as np
import pandas as pd

train_set_days = pd.read_csv("train_set_days.csv")
train_set_weeks = pd.read_csv("train_set_weeks.csv")
train_set_sfa = pd.read_csv("train_set_sfa.csv")
info_business_points = pd.read_csv("info_business_points.csv")
info_groups = pd.read_csv("info_groups.csv")
info_items = pd.read_csv("info_items.csv")

In [ ]:
### Train_set_weeks ###

In [5]:
train_set_weeks.wk = train_set_weeks.wk.astype(str)
train_set_weeks.wk = train_set_weeks.wk.str[:4] + ',' + train_set_weeks.wk.str[4:]
train_set_weeks[['wk_year', 'year']] = train_set_weeks.wk.str.split(',', expand=True)
train_set_weeks.head(5)

   id       wk  N wk  idFilial  KanalDB  idSubGrp    value wk_year year
0   0  2014,01     1         9        2         3   3560.0    2014   01
1   1  2014,02     2         9        2         3   7120.0    2014   02
2   2  2014,03     3         9        2         3  57672.0    2014   03
3   3  2014,04     4         9        2         3  37380.0    2014   04
4   4  2014,05     5         9        2         3  80990.0    2014   05

In [8]:
train_set_weeks = train_set_weeks.drop('wk', axis=1)
train_set_weeks.wk_year = train_set_weeks.wk_year.astype(int)
train_set_weeks.year = train_set_weeks.year.astype(int)
train_set_weeks.dtypes

id            int64
N wk          int64
idFilial      int64
KanalDB       int64
idSubGrp      int64
value       float64
wk_year       int32
year          int32
dtype: object

In [9]:
### Train_set_sfa ###

In [10]:
train_set_sfa.head(5)

   id   idBP  idFilial  visit_date calc_share  visits_count  calls_count
0   0  63936         4  01.08.2015        NaN             0            1
1   1   5339         6  01.08.2015        NaN             1            0
2   2  62341        10  01.08.2015        NaN             0            1
3   3  64341        10  01.08.2015        NaN             1            0
4   4  67239        10  01.08.2015        NaN             1            0